     <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>video2relax provides atmospheric videos to relax, meditate or just take some time to enjoy the true wonders of nature with breathtaking scenic views and truely original nature sounds.</p>
                </div>
                <div class="col-lg-4">
                    <p>The video2relax mobile app with AppleTV and Chromecast streaming provides easy access to more than 200 minutes of free videos including some of the most beautiful beaches, rivers and waterfalls.</p>
                </div>
                <!-- Link ist zu aktualisieren -->

                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.video2relax.com/ios" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download iOS APP
                    </a>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.video2relax.com/android" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Andoird App
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>