        <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <!--     <span class="name">video2relax</span>      -->
                        <img class="img-responsive" src="img/Schrift_video2relax.png" width=60% heigt=auto alt="video2relax">
                        <hr class="star-light">
                        <span class="skills">Your video to relax, meditate or enjoy the true wonders of nature</span>
                    </div>
                </div>
            </div>
        </div>
    </header>