<!-- Portfolio Modals -->
{% for post in site.posts %}


<div class="portfolio-modal modal fade" id="portfolioModal-1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Las Isletas in Nicaragua</h2>
                        <hr class="star-primary">

                        <!-- Embed YouTube Videos Responsively without Increasing Load Time - http://www.labnol.org/internet/light-youtube-embeds/27941/ -->
                        <div class="youtube-container">
                                 <div class="youtube-player" data-id="FG-mlML5_0E"></div>
                        </div>

                        <p>video2relax - Las Isletas in Nicaragua: Relaxing video with nature sound to meditate or yoga.</p>
                        </p>Relaxing video with scenic view into the green wildlife with many birds of the region Las Isletas in Nicaragua.</p>
                        </p>This video was taken in the region of Las Isletas, which is a group of 365 small islands of volcanic origin located next to Granada city at the northern end of Lake Nicaragua. The Lake Nicaragua is of tectonic origin and the largest freshwater lake in Central America. Currently a Nicaragua Canal, a shipping route, is under construction that will connect the Caribbean Sea with the Pacific Ocean. This Canal is planned to run through Lake Nicaragua. If this Canal will be completed the region of Las Isletas may to change and look different from what you see in this video. The wonderful green and rich nature together with the truly original nature sound pictured in this video provide you the perfect surroundings to relax, meditate and enjoy the true wonders of nature.</p>
                        <ul class="list-inline item-details">
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal-2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Lonesome Caribbean Sea Island</h2>
                        <hr class="star-primary">

                        <!-- Embed YouTube Videos Responsively without Increasing Load Time - http://www.labnol.org/internet/light-youtube-embeds/27941/ -->
                        <div class="youtube-container">
                                 <div class="youtube-player" data-id="3fDlQBgt_Mw"></div>
                        </div>

                        <p>video2relax - lonesome Caribbean Sea Island: Relaxing video with nature sound to meditate or yoga</p>
                        </p>Relaxing video with scenic beach view and waves of the Caribbean Sea of Nicaragua.</p>
                        </p>This video was taken in the region of Pearl Cays in the Carribean Sea of Nicaragua. Pearl Cays is a group of 18 cays located about 35 kilometers from Laguna de Perlas off the Caribbean coast of Nicaragua and is only accessible by small boats. The wonderful rich colors together with the nature sound of this lonesome region pictured in this video provide you the perfect surroundings to relax, meditate and enjoy the true wonders of nature.</p>
                        <ul class="list-inline item-details">
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal-3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Breathtaking lonesome Pacific Beach</h2>
                        <hr class="star-primary">

                        <!-- Embed YouTube Videos Responsively without Increasing Load Time - http://www.labnol.org/internet/light-youtube-embeds/27941/ -->
                        <div class="youtube-container">
                                 <div class="youtube-player" data-id="MUTliA-waaE"></div>
                        </div>

                        <p>video2relax - breathtaking lonesome Pacific Beach: Relaxing video with nature sound to meditate or yoga</p>
                        </p>Relaxing video with scenic beach view and waves on the Pacific Ocean in the Region of San Juan del Sur in Nicaragua.</p>
                        </p>This video was taken in the region of San Juan del Sur on the Pacific Coast of Nicaragua. In the very back of the picture you can see the coastal line of Costa Rica. San Juan del Sur is a popular travel destination for American and Canadian tourist and offers a string of breathtaking beautiful and lonesome beaches. San Juan del Sur is also popular for surfing. Currently a Nicaragua Canal, a shipping route, is under construction that will connect the Caribbean Sea with the Pacific Ocean. This Canal is planned to enter the pacific ocean close to San Juan del Sur. If this Canal will be completed the region of San Juan del Sur is likely to change and look significantly different from what you see in this video. Today the loneliness and beauty of these pacific beaches provide you the perfect surroundings to relax, meditate and enjoy the true wonders of nature.</p>
                        <ul class="list-inline item-details">
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal-4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Lonesome Island in Nicaragua</h2>
                        <hr class="star-primary">

                        <!-- Embed YouTube Videos Responsively without Increasing Load Time - http://www.labnol.org/internet/light-youtube-embeds/27941/ -->
                        <div class="youtube-container">
                                 <div class="youtube-player" data-id="YN8PYOL5nMc"></div>
                        </div>

                        <p>video2relax - lonesome Island in Nicaragua: Relaxing video with nature sound to meditate or yoga</p>
                        </p>Relaxing video with scenic view into the village life in the region of Solentiname Islands, an island group towards the southern end of Lake Nicaragua.</p>
                        </p>This video was taken in the region of Solentiname Islands, an island group consisting of more than 30 islands and is located towards the southern end of Lake Nicaragua. The Lake Nicaragua is of tectonic origin and the largest freshwater lake in Central America. Currently a Nicaragua Canal, a shipping route, is under construction that will connect the Caribbean Sea with the Pacific Ocean. This Canal is planned to run through Lake Nicaragua. If this Canal will be completed the region of Solentiname is likely to change and look significantly different from what you see in this video. Today the loneliness of the island group provides an extraordinary feeling of living like Robinson Crusoe. The wonderful rich colors together with the nature sound of this lonesome region pictured in this video provide you the perfect surroundings to relax, meditate and enjoy the true wonders of nature.</p>
                        <ul class="list-inline item-details">
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal-5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Beautiful small creek during fall</h2>
                        <hr class="star-primary">

                        <!-- Embed YouTube Videos Responsively without Increasing Load Time - http://www.labnol.org/internet/light-youtube-embeds/27941/ -->
                        <div class="youtube-container">
                                 <div class="youtube-player" data-id="QSR0Su5X-Zs"></div>
                        </div>

                        <p>video2relax - beautiful small creek during fall season: Relaxing video with nature sound to meditate or yoga</p>
                        </p>Relaxing video with a beautiful view at a amal and slow flowing creek during the fall season in the region of cologne.</p>
                        </p>This video was taken in the Koenigsforst in the region of Cologne in Germany. The Koenigsforst is located next to Cologne in Germany and is a popular recreation area for residents living in Cologne. It also is a nature sanctuary especially for birds. This video provides a glance onto a slow flowing creek during fall season. The fascinating rich colors of the leafs together with the nature sound provide you the perfect surroundings to relax, meditate and enjoy the true wonders of nature.</p>
                        <ul class="list-inline item-details">
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal-6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Sea view with glinting sun</h2>
                        <hr class="star-primary">

                        <!-- Embed YouTube Videos Responsively without Increasing Load Time - http://www.labnol.org/internet/light-youtube-embeds/27941/ -->
                        <div class="youtube-container">
                                 <div class="youtube-player" data-id="FNlFWhE7QuQ"></div>
                        </div>

                        <p>video2relax - sea view southern coast of Madeira with glinting sun: Relaxing video with nature sound to meditate or yoga</p>
                        </p>Relaxing video with scenic view onto the Atlantic Ocean of the southern coast of the island of Madeira.</p>
                        </p>This video was taken in the region of C&acirc;mara de Lobos located in the south-central coast of the island of Madeira. Madeira is a Portuguese island located in the North Atlantic Ocean and is at the top of a massive volcano that rises about 6km (20,000 ft) from the floor of the Atlantic Ocean. The island has characteristics of high-attitude Mountains with some of European steepest coastal lines. This video was taken at one of those steep coastal lines. The wonderful blue of the sea together with the glinting sun pictured in this video provide you the perfect surroundings to relax, meditate and enjoy the true wonders of nature.</p>
                        <ul class="list-inline item-details">
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal-7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Palms in Sri Lanka</h2>
                        <hr class="star-primary">

                        <!-- Embed YouTube Videos Responsively without Increasing Load Time - http://www.labnol.org/internet/light-youtube-embeds/27941/ -->
                        <div class="youtube-container">
                                 <div class="youtube-player" data-id="VDZdz_6lj_A"></div>
                        </div>

                        <p>video2relax - Palms in front of the Indian ocean with glinting sun: Relaxing video with nature sound to meditate or yoga</p>
                        </p>Relaxing video with a breathtaking view at palms in front of the Indian Ocean with glinting sun and beautiful nature sounds of the wind in the region of Marawila in the western-central coast of the island of Sri Lanka.</p>
                        </p>This video was taken in Marawila in the western-central coast of the island of Sri Lanka. On this video you can see beautiful palms moving in the wind. You see the sun glinting through the leaves of the palms in front of the scenic view on the Indian Ocean. The beautiful and rich colors of this video together with nature sound of wind pictured in this video provide you the perfect surroundings to relax, meditate and enjoy the true wonders of nature.</p>
                        <ul class="list-inline item-details">
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal-8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Lonesome Indian Ocean Beach</h2>
                        <hr class="star-primary">
                        <!-- Youtube embed responsiely with http://embedresponsively.com/ -->

                        <!-- Embed YouTube Videos Responsively without Increasing Load Time - http://www.labnol.org/internet/light-youtube-embeds/27941/ -->
                        <div class="youtube-container">
                                 <div class="youtube-player" data-id="nPZZJdBFFDI"></div>
                        </div>

                        <p>video2relax - breathtaking lonesome Indian Ocean Beach: Relaxing video with nature sound to meditate or yoga</p>
                        </p>Relaxing video with a scenic beach view with waves of the Indian Ocean in the Region of Tangalle of Sri Lanka.</p>
                        </p>This video was taken in the region of Tangalle located in the south-central coast of the island of Sri Lanka. On this video you can see the waves of the Indian Ocean with beautiful sun glinting in the sea. Additionally you can see small grabs in the front of the picture from time to time. As a highlight of this video you will see some local fisherman crossing the picture while hunting lobster. In general this region of Sri Lanka is famous for its rich nature. Just the very next beach for example is a famous breeding place for Turtle eggs. The fascinating rich colors of this picture together with the truly original nature sound provide you the perfect surroundings to relax, meditate and enjoy the true wonders of nature.</p>
                        <ul class="list-inline item-details">
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal-9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Frozen waterfall in Germany</h2>
                        <hr class="star-primary">

                        <!-- Embed YouTube Videos Responsively without Increasing Load Time - http://www.labnol.org/internet/light-youtube-embeds/27941/ -->
                        <div class="youtube-container">
                                 <div class="youtube-player" data-id="tTEfx_RES50"></div>
                        </div>

                        <p>video2relax - frozen waterfall in Germany: Relaxing video with nature sound to meditate or yoga</p>
                        </p>Relaxing video with a breathtaking view at a snowy and partly frozen waterfall in the region of Stuttgart in Germany.</p>
                        </p>This video was taken in Bad Urach in the region of the Swabian Alb, close to Stuttgart in Germany. On this video you can see the waterfall of Bad Urach. You see the river of Bruehlbach falling straightly 37 meters before it continues its slope down further 50 meters. The video is especially breathtaking as parts of the waterfall are frozen and beautifully framed with the beautiful winterly and snowy landscape. The fascinating white of the landscape together with the beautiful waterfall and the truly original nature sound pictured in this video provide you the perfect surroundings to relax, meditate and enjoy the true wonders of nature.</p>
                        <ul class="list-inline item-details">
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}