<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Video samples</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal-1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/2013NiLIL1.png" class="img-responsive" alt="Las Isletas in Nicaragua: Relaxing video with nature sound to meditate or yoga.">
                </a>
            </div>
            <!-- Sample Bezeichnungen m?ssen noch angepasst werden -->
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal-2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/2013NiPCB1.png" class="img-responsive" alt="Lonesome Caribbean Sea Island: Relaxing video with nature sound to meditate or yoga.">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal-3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/2013NiSJB1.png" class="img-responsive" alt="Breathtaking lonesome Pacific Beach: Relaxing video with nature sound to meditate or yoga.">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal-4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/2013NiSoL1.png" class="img-responsive" alt="Lonesome Island in Nicaragua: Relaxing video with nature sound to meditate or yoga.">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal-5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/2014GeCoW1.png" class="img-responsive" alt="Las Isletas in Nicaragua">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal-6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/2014PoCaB1.png" class="img-responsive" alt="Las Isletas in Nicaragua">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal-7" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/2014SLMaB1.png" class="img-responsive" alt="Las Isletas in Nicaragua">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal-8" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/2014SLTaB1.png" class="img-responsive" alt="Las Isletas in Nicaragua">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal-9" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/2015GeBUW1.png" class="img-responsive" alt="Las Isletas in Nicaragua">
                </a>
            </div>
        </div>
    </div>
</section>
