<!-- Contact Section -->
<section id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Download</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Free video2relax mobile app is currently under development and will be ready for download soon.</p>
            </div>
            <div class="col-lg-4">
                <p>Sign up, to be one of the very first user of our brand new free video2relax mobile app.</p>
            </div>
            <!-- Link ist zu aktualisieren -->
            <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.video2relax.com/ios" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download iOS APP
                    </a>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.video2relax.com/android" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Andoird App
                    </a>
                </div>
                -->
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form action="//formspree.io/phiobos@gmx.de" method="POST" name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" name="_replyto" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div>
                        <input type="hidden" name="_subject" value="New submission!">
                        <input type="text" name="_gotcha" style="display:none" />
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
